---
layout: default
title: 首页
---
<dir class="container-fluid px-0 py-5">
	<div class="row d-flex flex-column justify-content-center mx-0 ">
		<h2 class="m-auto py-2 px-3">食谱分类</h2>
		<p class="m-auto font-weight-normal font-italic h6 py-1 px-3">“为了方便找到喜欢的食谱，我们为您将食谱进行了分类”</p>

		<div class="container-fluid">
			{% include cookbookcardlist_type.html %}
		</div>
	</div>
	<div class="separated py-3"><hr></div>

	<div class="row d-flex flex-column justify-content-center mx-0">
		<h2 class="m-auto py-2 px-3">推荐食谱</h2>
		<p class="m-auto font-weight-normal font-italic h6 py-1 px-3">“为您推荐我们选择的9个优质食谱”</p>

		<div class="container-fluid">
			{% include foodcardlist_recommended.html %}
		</div>
	</div>
	<div class="separated py-3"><hr></div>

	<div class="row d-flex flex-column justify-content-center mx-0 px-0">
		<div class="cookbook-type-bg d-flex flex-column text-white justify-content-center align-items-center mx-0 px-3">
			<h2 class="py-2 font-weight-bold">更多食谱</h2>
			<p class="font-weight-normal font-italic h6 py-1">“我们为您推荐的还不够？或是没有喜欢的？我们这里还有更多”</p>
			<a href=""><button type="button" class="btn btn-bg font-weight-bold rounded-pill px-4">查看更多食谱</button></a>
		</div>
	</div>
	<div class="separated py-3"><hr></div>
</dir>