<!DOCTYPE html>
<html data-ng-app='simpleFood' data-ng-controller='Application as app' lang="zh-CN">
<head>
	{% include {{ site.simple_food.theme}}/component/header.html %}
</head>
<body data-ng-cloak class="ng-cloak">
	<div>
		{% include {{ site.simple_food.theme}}/component/navbar.html %}
		{% include {{ site.simple_food.theme}}/component/banner.html %}
		<div class="main-px sf-py">{{ content }}</div>
		{% include {{ site.simple_food.theme}}/component/footer.html %}
	</div>
{% include {{ site.simple_food.theme}}/component/scripts.html %}
</body>
</html>
