<div>
	<div class="sf-py section">
		<div class="section-header sf-pb">
		
			<h1 class="font-weight-bold"  data-ng-bind-html="'{{ page.i18n_title }}' | translate">{{ page.title }}</h1>
		</div>
		<div class="section-body sf-container-fluid">
			<ul class="sf-row">
				{% assign listtype = page.list %}
				{% if listtype == 'new'%}
					{% for cookbook in site.posts %}
					<li class="col-xm-12 col-md-6 col-lg-3 col-xl-3 sf-mb">{% include {{ site.simple_food.theme}}/component/cookbookcard.html %}</li>
					{% endfor %}
				{% elsif listtype == 'popular'%}
					{% for popular in site.data.popular %}
					{% assign cookbooks = site.posts | where : 'title' , popular.title %}
					{% for cookbook in cookbooks %}
					<li class="col-xm-12 col-md-6 col-lg-3 col-xl-3 sf-mb">{% include {{ site.simple_food.theme}}/component/cookbookcard.html %}</li>
					{% endfor %}
					{% endfor %}
				{% elsif listtype == 'recommend'%}
					{% for recommend in site.data.recommend %}
					{% assign cookbooks = site.posts | where : 'title' , recommend.title %}
					{% for cookbook in cookbooks %}
					<li class="col-xm-12 col-md-6 col-lg-3 col-xl-3 sf-mb">{% include {{ site.simple_food.theme}}/component/cookbookcard.html %}</li>
					{% endfor %}
					{% endfor %}
				{% endif %}
			</ul> 
		</div>
		<!-- <div class="col-12 text-center"><a href="#"><span data-ng-bind-html="'seeMore' | translate"></span></a></div> -->
	</div>
	
</div>