<div data-ng-controller="SearchPage as searchpage">
	<div>
		<div class="d-flex">
			<input type="text" class="form-control form-control-lg sf-search__text" id="searchText" placeholder="{% raw %}{{ 'searchplaceholder' | translate }}{% endraw %}" data-ng-keyup="app.searchContainerGo($event)" data-ng-model="app.searchText">
			<button type="button" class="btn btn-dark rounded-0 ml-3 sf-search__btn" data-ng-bind-html="'searchBtnLabel' | translate"></button>
		</div>
	</div>


	<div class="sf-py section">
		<div class="section-header line-b"></div>
		<div class="section-body sf-container-fluid">

			<ul class="sf-row" data-ng-repeat="cookbook in searchpage.cookbooks_list">

				<li  class="col-xm-12 col-md-6 col-lg-3 col-xl-3 sf-mb">
					<div class="sf-card">
						<div class="sf-card-tips"><a href="#" data-ng-bind-html="cookbook.category"></a></div>
						<img class="sf-card-image-top" src="/assets/images/sf-banner-16_9-m.jpg">
						<div class="sf-card-container">
							<div class="sf-card-header">
								<a href="{% raw %}{{cookbook.url}}{% endraw %}"><h5 data-ng-bind-html="cookbook.title"></h5></a>
							</div>
							<div class="sf-card-body">
								<p data-ng-bind-html="cookbook.excerpt"></p>
							</div>
							<div class="sf-card-footer"></div>
						</div>
					</div>
				</li>
			</ul> 
		</div>
		<div class="col-12 text-center"><a href="#"><span data-ng-bind-html="'seeMore' | translate"></span></a></div>
	</div>
</div>

<!-- <div class="sf-py section">
	<div class="section-header line-b">
	</div>
	<div class="section-body sf-container-fluid">

		<ul class="sf-row" data-ng-repeat="cookbook in searchpage.cookbooks_list">

			<li  class="col-xm-12 col-md-6 col-lg-3 col-xl-3 sf-mb">
				<div class="sf-card">
					<div class="sf-card-tips"><a href="#">{{ cookbook.category }}</a></div>
					<img class="sf-card-image-top" src="/assets/images/sf-banner-16_9-m.jpg">
					<div class="sf-card-container">
						<div class="sf-card-header">
							<a href="{{cookbook.url}}"><h5>{{cookbook.title}}</h5></a>
						</div>
						<div class="sf-card-body">
							<p>Inspired by Greek flavors, this warm salad is balanced by zesty lemon and feta mingling with tender salmon and fresh spring vegetables.</p>
						</div>
						<div class="sf-card-footer"></div>
					</div>
				</div>
			</li>
		</ul> 
	</div>
	<div class="col-12 text-center"><a href="#"><span data-ng-bind-html="'seeMore' | translate"></span></a></div>
</div> -->