<ul class="row d-flex justify-content-center">
{% for t in site.data.cookbooktype %}
	<li class="col-sm-5 col-md-5 col-lg-3 col-xl-3 mx-1 py-3">
		<a href="">
			<div class="card rounded-lg">
			  	<img src="{{ t.image }}" class="card-img" alt="..."> 
			  	<div class="cookbook-type-mask-text align-items-center d-flex text-white">
				  	<div class="text-center col-12">
					    <h2 class="card-title font-weight-bold">{{ t.name }}</h2>
					    <p class="card-text font-weight-normal">{{ t.node }}</p>
				    </div>
				</div>
				<div class="cookbook-type-mask-bg rounded-lg"></div>
			</div>
		</a>
	</li>
{% endfor %}
</ul>