{% if include.cookbook != nil %}
{% assign cookbook = include.cookbook %}
<div class="card">
  <a href="{{ cookbook.url }}">
  	<img src="/assets/images/16-9.jpg" class="card-img-top" alt="{{ cookbook.title }}">
  </a>
  <div class="card-body px-0">
    <a href="{{ cookbook.url }}">
    	<h5 class="card-title">{{ cookbook.title }}</h5>
    </a>
    <p class="card-text text-dark font-weight-light">{{ cookbook.excerpt }}</p>

    <div class="row mx-0 font-weight-light text-secondary size-85 ">
    	<span class="col-6 p-0"><i class="far fa-clock mr-2"></i>{{ cookbook.minute }}分钟</span>
    	<span class="col-6 p-0"><i class="fab fa-cloudscale mx-2"></i>{{ cookbook.kcal }}Kcal</span>
    </div>
  </div>
</div>
{% endif %}