
<ul class="row vw-100 d-flex justify-content-center">
{% for re in site.data.recommended %}
	{% assign cookbooks = site.posts | where : 'title' , re.title %}
	{% assign cookbook = cookbooks[0] %}
			<li class="col-sm-5 col-md-5 col-lg-3 col-xl-3 m-3  px-0" >
				<div class="card">
				  <img src="/assets/images/banner.jpg" class="card-img-top" alt="...">
				  <div class="card-body px-0">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.解放啦扩大解放咔叽饭卡积分卡发生看到房价阿拉山口大家发快速反击草塔路易十四草塔里加骄傲开发看风景阿拉山口激发了快速减肥可视角度发空间的法兰克</p>

				    <div class="row mx-0 font-weight-light text-secondary size-85 ">
				    		<span class="col-6 p-0"><i class="far fa-clock mr-2"></i>120分钟</span>
				    		<span class="col-6 p-0"><i class="fab fa-cloudscale mx-2"></i>120Kcal</span>
				    </div>
				  </div>
				</div>
			</li>
{% endfor %}

</ul>