<footer class="footer">
	<div class="container-fluid">
		<div class="row justify-content-center">
				<img class="col-sm-12 col-md-12 col-lg-12 col-xl-12 logo" src="/assets/favicon/favicon-white.svg">

				<ul class="col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
					<a href="#"><li>关于我们</li></a>
					<li>|</li>
					<a href="#"><li>联系我们</li></a>
				</ul>
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">SimpleFood Copyright © 2019. All Rights Reserved.</div>
		</div>
		
	</div>
</footer>