
<div class="sf-nav-container px-5 py-3 d-none d-md-block ">
	<div class="sf-nav d-flex align-items-center font-weight-bold">
		<a href="#"><img class="sf-nav-favicon" src="/assets/favicon/favicon-white.svg"></a>
		<ul class="d-flex mx-auto my-0 px-0">
			{% for menu in site.data.menu %}
			<a href="{{ menu.url}}">
			<li class="mx-3">{{ menu.name }}</li>
			</a>
			{% endfor %}
		</ul>
		<a href=""><i class="fas fa-search"></i></a>
	</div>
</div> 

<div class="sm-sf-nav-container sf-nav-container px-5 py-3 d-sm-block d-md-none">
	<div class="sf-nav d-flex align-items-center font-weight-bold">
		<a href="#"><img class="sf-nav-favicon" src="/assets/favicon/favicon-white.svg"></a>
		<div class="d-flex mx-auto my-0 px-0 text-white">Simple Food</div>
		

		<a href="javascript: showOrhide('#navMenu');" sf-nav-togger data-target='#navMenu'><i class="fas fa-bars"></i></a>
	</div> 

	
	

	<div id="navMenu" class="p-5 flex-column align-items-center nav-item text-center " hide>
		<div class="d-flex justify-content-end"><a href="javascript: showOrhide('#navMenu');"><i class="fas fa-times"></i></a></div>
		<ul class="mx-auto my-0 px-0 font-weight-bold">
			{% for menu in site.data.menu %}
			<a href="{{ menu.url}}">
			<li class="m-3">{{ menu.name }}</li>
			</a>
			{% endfor %}
			<a href="{{ menu.url}}">
			<li class="m-3">SEARCH</li>
			</a>
		</ul>
	</div> 
</div>
