<nav id="navbar" class="navbar navbar-expand-lg sticky-top navbar-light bg-light navbar-m">
	<!-- 
	<a href="#" class="navbar-brand">
		<img class="icon" width="45" height="45" src="/assets/favicon/favicon-black.svg">
	</a> -->

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% for menu in site.data.menu %}
			<li class="nav-item"><a class="nav-link" href="#">{{ menu.name }}</a></li>
			{% endfor %}
		</ul>

	<div class="my-2 my-lg-0 share">
		<a class="share-link-icon" href=""><i class="fab fa-facebook"></i></a>
		<a class="share-link-icon" href=""><i class="fab fa-instagram"></i></a>
		<a class="share-link-icon" href=""><i class="fab fa-weixin"></i></a>
		<a class="share-link-icon" href=""><i class="fas fa-link"></i></a>
	</div>
	</div>

</nav>