/*body{
	margin: 0;
}

a:link,
a:hover,
a:active,
a:visited{
    color: #000000;
    text-decoration: none;
}

.share a{
	color: #ffffff;
	padding: 0rem .55rem 0rem .55rem;
}

.card,
.card .card-img-top,
.jumbotron{
	border-radius: 0;
	border: none;
}


.jumbotron{
	background-image: url("/assets/image/yoori-koo-51884-unsplash.jpg");
	background-size: 100% auto;
	height: 100vh;
	font-weight: 900;
}


.card .btn{
	border-radius: 0;
	color: #cccccc;
}

.card .card-body{
	padding-right: 0rem;
	padding-left: 0rem;
}

footer{
	color: #ffffff;
	background-color: #343a40;

	padding-top: 2.25rem;
	padding-bottom: 2.25rem;
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited{
	color: #ffffff;
	text-decoration: none;
}

footer .footer-body{
	display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    text-align: center;
}

footer .footer-body .icon{
	width: 180px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

footer .footer-body ul{
	list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-body ul li{
	margin-right: .25rem;
	margin-left: .25rem;
}*/
/*
a:link,
a:hover,
a:active,
a:visited{
	color: #0c0a0b;
}
.navbar,
.navbar-collase,
.navbar-nav{
	background-color: rgba(255,255,255,0);
}
.navbar-nav .nav-link{
	font-weight: 600;
}

.jumbotron{
	background-image: url("/assets/image/yoori-koo-51884-unsplash.jpg");
	background-size: 100% auto;
	height: 100vh;
	border-radius: 0;
}
.slogan-content{
	    display: flex;
    flex-wrap: wrap;
}
.slogan{
	font-weight: 700;
    font-size: 6rem;
    margin-left: auto;
    line-height: 1.2;
    margin-top: 6rem;
    margin-right: auto;
}*/

/*
*{
	border: 1px solid red;
}
*/
/*a:link,
a:hover,
a:active,
a:visited{
	color: #0c0a0b;
	text-decoration: none;
}

.bg-color{
	background-color: #f8f9fa;
}

.color{
	color: #495057;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.main-content-mw {
	padding: 0rem 2.8rem;
}

.navbar-m{
	margin: 1.5rem 2.25rem;
}

.navbar-nav .nav-link{
	font-weight: 700;
}

.share .share-link-icon{
	padding-left: .5rem;
	padding-right: .5rem;
	color: rgba(0,0,0,.5);
	transition: color .15s ease-in-out;
}

.share a:hover{
	color: rgba(0,0,0,1);
}


.jumbotron{
	background-image: url("/assets/image/yoori-koo-51884-unsplash.jpg");
	background-size: 100% auto;
	height: 100vh;
	font-weight: 900;
	border-radius: 0;
}

.card{
	border:none;
}

.card,
.card-img-top{
	border-radius: 0;
}

.footer{
	padding: 2.35rem 0rem;
    background-color: #343434;
    color: #fff;
    font-size: .90rem;
}

.footer a{
	color: #fff;
	padding-right: .5rem;
	padding-left: .5rem;
}

.footer .logo{
	width: 10rem;
	height: 10rem;

	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.footer ul{
	list-style: none;
	padding: 0;
	display: flex;

}*/

/**{
	border: 1px solid red;
}
*/
body{
	font-family: fa5-proxima-nova,"Helvetica Neue",'Roboto', Helvetica, sans-serif;
	letter-spacing: 0.05rem;
}

a:link,
a:hover,
a:active,
a:visited{
	color: #000000;
	text-decoration: none;
}

.min-vh-100{
	min-height: 100vh;
}

.bg-color{
	background-color: #ffffff;
}

.color{
	color: #495057;
}



.navbar-nav{
	background-color: rgba(255,255,255,0);
}

.navbar-toggler{
    background-color: transparent;
    border: none;
    border-radius: 0rem;
}

.navbar-nav .nav-item{
	margin-left: 1rem; 
	margin-right: 1rem;
}

.navbar-nav .nav-item{
	margin-left: 0rem;
	margin-right: 0rem;
}

.jumbotron{
	background-image: url("/assets/image/sfb.jpg");
	/*background-size: auto 100%;*/
	background-size: cover;
	-webkit-background-size: cover;
  	-o-background-size: cover;
	border-radius: 0;
	/*height: 31.5vh;*/
	height: 100vh;
	background-position: -35rem 0rem;
}

.jumbotron .m-lr_distance{
	margin-top: 13rem;
	margin-bottom: 3rem;
}
.display-1{
	font-size: 2.25rem;
}

.display-4{
	font-size: 1.55rem;
}

.cookbook-jumbotron{
	height: 31.5vh;
	position: relative;
	background-position: 0rem 0rem;
	background-image: url("/assets/image/sfb.jpg");
	background-size: cover;
	-webkit-background-size: cover;
  	-o-background-size: cover;
	border-radius: 0;

}

.cookbook-jumbotron__title{
	position: absolute;
	bottom: .75rem;
	left: 1.25rem;

		margin-right:.25rem; 
		margin-left: .25rem;
}

.cookbook-icon{
	width: 100%;
	font-size: .75rem;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-top: .25rem;
	padding-bottom: .25rem;
}

	.cookbook-times{
		color: #e82c2a;
	}

.cookbook-icon ul{
	list-style: none;
	padding: 0rem;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: .85rem;
    margin-top: .85rem;
}

.cookbook-icon ul li:first-child{
	padding-left: 0rem;
}

.cookbook-icon ul li {
	padding-left: .55rem;
	padding-right: .55rem;

	/*display: flex;
	flex-direction: column;*/


}

.cookbook ul li i{
	font-size: 1.25rem;

	vertical-align: middle;
}

.cookbook-icon .icon-text{
	font-size: .80rem;

	vertical-align: middle;
	/*
	font-weight: 400;
	padding-top: .3rem;
	padding-bottom: .3rem;*/
}

.cookbook-info{
	/*padding-top: 1rem;
	padding-bottom: 2.25rem;*/
}

.cookbook-card{
	margin-bottom: 2rem;
}

.card,
.card-img-top{
	border-radius: 0;
}

.footer{
	background-color: #343434;
	font-size: 90%;
	padding-top: 2.75rem;
	padding-bottom: 2rem;
	color: #ffffff;
}

.footer .logo{
	width: 7.5rem;
	height: 7.5rem;
}

.footer ul{
	list-style: none;
	padding: 0;
	display: flex;
    flex-wrap: wrap;
}

.footer ul li{
	padding-left: .25rem;
	padding-right: .25rem;
}

.footer a{
	color: #ffFfff;
}

.footer .share{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

.footer .share a{
	padding-left: .25rem;
	padding-right: .25rem;
}

@media all and (orientation : landscape) { 
	.jumbotron{
	  height: 100vh;
	  background-position: 0rem 0rem;
	}

	.jumbotron .m-lr_distance{
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
}

/*
@media (max-width: 575.98px) { ... }
@media (min-width: 576px) and (max-width: 767.98px){  
	.jumbotron{
		height: 66vh;
		background-position: 0rem 0rem;
		background-size: 100% auto;
		min-height: 66vh;
	}
}*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){ 
	.jumbotron{
		height: 66vh;
		background-position: 0rem 0rem;
		/*background-size: 100% auto;*/
		min-height: 66vh;
	}

	.m-lr__5{
		margin-right: 5rem;
		margin-left: 5rem;
	}

	.m-tb__1-25{
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}

	.navbar-absolute-top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2030;
	}

	.navbar-bg-color{
	    /*background-color: #ffffff!important*/
	    background-color: rgba(255,255,255,0);
	}

	.jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.display-1{
		font-size: 3rem;

	}

	.display-4{
		font-size: 1.5rem;
	}

	.cookbook-jumbotron__title{
		bottom: 2.25rem;
		left: 1.25rem;
	}

	.cookbook-jumbotron{
		height: 70vh;
	}

	.cookbook-icon ul li {
		padding-left: 1.25rem;
		padding-right: 1.25rem;

	}

	.cookbook-icon{
		font-size: 1.75rem;
	}

	.cookbook-jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		
		margin-bottom: 7rem;
	}

	.cookbook{
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.jumbotron{
		height: 87vh;
		min-height: 87vh;
		background-position: 0rem 0rem;
		/*background-size: 100% auto;*/
	}

	.m-lr__5{
		margin-right: 5rem;
		margin-left: 5rem;
	}

	.m-tb__1-25{
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}

	.navbar-absolute-top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2030;
	}

	.navbar-bg-color{
	    /*background-color: #ffffff!important*/
	    background-color: rgba(255,255,255,0);
	}

	.jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.display-1{
		font-size: 5rem;

	}

	.display-4{
		font-size: 2.5rem;
	}

	.cookbook-jumbotron__title{
		bottom: 2.25rem;
		left: 1.25rem;
	}

	.cookbook-jumbotron{
		height: 70vh;
	}

	.cookbook-icon ul li {
		padding-left: 1.25rem;
		padding-right: 1.25rem;

	}

	.cookbook-icon{
		font-size: 1.75rem;
	}

	.cookbook-jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		
		margin-bottom: 7rem;
	}

	.cookbook{
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	.m-lr__5{
		margin-right: 5rem;
		margin-left: 5rem;
	}

	.m-tb__1-25{
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}

	.navbar-absolute-top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2030;
	}

	.navbar-bg-color{
	    /*background-color: #ffffff!important*/
	    background-color: rgba(255,255,255,0);
	}


	.jumbotron{
		height: 100vh;
		background-position: 0rem 0rem;
		/*background-size: 100% auto;*/
		
	}

	.jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.display-1{
		font-size: 6rem;

	}

	.display-4{
		font-size: 3.5rem;
	}

	.cookbook-jumbotron__title{
		bottom: 2.25rem;
		left: 1.25rem;
	}

	.cookbook-jumbotron{
		height: 70vh;
	}

	.cookbook-icon ul li {
		padding-left: 1.25rem;
		padding-right: 1.25rem;

	}

	.cookbook-icon{
		font-size: 1.75rem;
	}

	.cookbook-jumbotron .m-lr_distance{
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		
		margin-bottom: 7rem;
	}

	.cookbook{
		padding-right: 0rem;
		padding-left: 0rem;
	}

	.cookbook-tools{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}