/**{ border: 1px solid red; }*/
body{
	font-size: 1.25rem;
	line-height: 1.725rem;
	letter-spacing: 0.05rem;

	color: #343434;
}

ul{
	list-style: none;
	padding: 0rem!important;
}

a:link, a:hover, a:active, a:visited{
	color: #343434;
	text-decoration: none;
}

.favicon{
	width: 14rem;
}

.sf-nav-container{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 3000;
	background-color: rgba(255,255,255,.9);
}

.sf-nav-container .sf-nav{
	height: 76px;
	padding: 23px 28px;
	box-sizing: border-box;
	/*background-color: white;*/
	display: -webkit-flex;
	display: -sm-flexbox;
	display: flex;
	font-weight: 500;
} 

.sf-nav-container .sf-nav li{
	position: relative;
}

.sf-nav-container .sf-nav li:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    bottom: -5px;
    left: 0;
    background-color: #343434;
    visibility: hidden;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms;
}

.sf-nav-container .sf-nav li:hover:before {
	visibility: visible;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}

.sf-nav-container .sf-nav .sf-nav-left{
	position: absolute;
	height: 30px;
	top: 23px;
	left: 28px;
}

.sf-nav-container .sf-nav .sf-nav-right{
	position: absolute;
	height: 30px;
	top: 23px;
	right: 28px;
}

.sf-nav-show{
	display: block;
}

.sf-banner{
	background-image: url("/assets/images/sf-banner-16_9-m.jpg");
	height: 80vh;
	min-height: 500px;
	background-size: cover;
}

.separated hr{
	border-top: 1px solid rgba(0,0,0,.065);
}

.cookbook-type-mask-text{
	z-index: 2000;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.cookbook-type-mask-bg{
	position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
}

.cookbook-type-bg{
	background-image: url("/assets/images/sf-cookbooks-2-m.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	min-height: 70vh;
}

.footer{
	background-color: #383736;
}

.btn-bg{
	color: #ffffff;
    background-color: #ff674d;
    border-color: #ff674d;
}

.btn-bg:hover {
    color: #ffffff;
    background-color: #ff674d;
    border-color: #ff674d;
}

@media (max-width: 991.98px){
	.sf-nav-conter{
		position: fixed;
	    left: 0;
	    top: 0;
	    background-color: white;
	    width: 100%;
	    height: 100vh;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	    padding-left: 1.85rem;
	    padding-right: 1.85rem;
	    z-index: 2050;
	    display: none;
	}

	.sf-nav-conter .sf-nav-item {
		flex-flow: column;
    	align-items: center;
	}

	.sf-nav-conter .sf-nav-item *{
		margin-top: .85rem;
    	margin-bottom: .85rem;
	}
}