<div class="sf-card">
	<div class="sf-card-tips"><a href="#">{{ cookbook.category }}</a></div>
	<img class="sf-card-image-top" src="{% if cookbook.image != nil %}{{ cookbook.image | replace: '.jpg', '-mini.jpg' }}{% else %}/assets/images/sf-banner-16_9-m.jpg{% endif %}" alt="{{ cookbook.title }}">
	<div class="sf-card-container">
		<div class="sf-card-header">
			<a href="{{cookbook.url}}"><h5>{{cookbook.title}}</h5></a>
		</div>
		<div class="sf-card-body">
			{{ cookbook.excerpt}}
		</div>
		<!-- <div class="sf-card-footer"></div> -->
	</div>
</div>