<div class="sf-card">
	<div class="sf-card-tips"><a href="#">{{ cookbook.category }}</a></div>
	<img class="sf-card-image-top" src="/assets/images/sf-banner-16_9-m.jpg">
	<div class="sf-card-container">
		<div class="sf-card-header">
			<a href="{{cookbook.url}}"><h5>{{cookbook.title}}</h5></a>
		</div>
		<div class="sf-card-body">
			<p>Inspired by Greek flavors, this warm salad is balanced by zesty lemon and feta mingling with tender salmon and fresh spring vegetables.</p>
		</div>
		<div class="sf-card-footer"></div>
	</div>
</div>