<base href="/">
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="theme-color" content="#e63f21"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>
{% if page.title == nil %}
Simple Food
{% else %}
{{page.title}} - Simple Food
{% endif %}
</title>
<meta name="description" content="{% if page.excerpt != nil %}{{ page.excerpt}}{% else %}{{ site.simple_food.description }}{% endif %}"/>
<meta name="keywords" content="Food,cookbooks,Chinese Food,delicacy,中国菜,中餐,菜谱,美食">
<meta name="author" content="Simple Food">

<meta name="google" content="nositelinkssearchbox" />
{% include {{ site.simple_food.theme}}/component/opengraph.html %}

<link rel="shortcut icon" type="image/ico" href="/assets/favicon/favicon.ico" />

{% include {{ site.simple_food.theme}}/component/bingwebmaster.html %}
{% include {{ site.simple_food.theme}}/component/googleverification.html %}
{% include {{ site.simple_food.theme}}/component/googleanalytics.html %}
{% include {{ site.simple_food.theme}}/component/googleads.html %}

{% include {{ site.simple_food.theme}}/component/stylesheets.html %}