<!DOCTYPE html>
<html>
<head>
	{% include header.html %}
</head>
<body class="vh-100">
	{% include navbar.html immersed="not-immersed" %}
	<div class="container-fluid">
		<div class="card col-8">
		      <img src="/assets/images/banner.jpg" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h1 class="card-title">{{ page.title }}</h1>
		        <p class="card-text">
		        	{{ page.excerpt }}
		        </p>
		        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		      </div>
		</div>
	</div>
	
	{% include footer.html %}
</body>
{% include scripts.html %}
</html>